 body {
        height:100vh;
        margin:0;
        display:flex;
        justify-content: center;
        align-items:center;
        background-color:#1b156a;
      }
    .container{
        width:800px;
       
    }
    form.filesharing{
        background-color:#58b5c4;;
        border-radius: 8px; 
        padding:30px;
        border: 1px solid #888;
        width: 100%;
        box-sizing: border-box;
        font-weight: bold;
       
      }
       form input.form-control{
        display: block;
        width:100%;
        margin-bottom: 12px;
        padding:10px;
      }
      .form-check-label{
        margin-left: 5px;
      }

    h1{
        text-align: center;
    }
    
      span.password,text {
        float: left;
        padding-top: 10px;
      }
      .btn-primary{
        display:block;
        margin: 0 auto;
        background-color: #75e392;
        cursor: pointer;
        padding: 3px;
        width: 30%;
      }

    @media screen and (max-width: 768px) {
    form.filesharing {
        width: 80%; 
}
    }
      @media screen and (max-width: 300px) {
        span.password {
          display: block;
        }  
      }
      