* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color:#1b156a;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #58b5c4;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    flex: 1;
    padding: 40px;
    background-color: #1b156a;
}

.upload h2 {
    margin-bottom: 20px;
}

.uploadbox {
    background-color: #75e392;
    border: 2px;
    padding: 120px;
    text-align: center;
    margin-bottom: 40px;
}

.uploadbox button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #007bff;;
  }
}